/* contato.css */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #264653;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    header {
        background-color: #1a1a1a;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        flex: 1;


        .menu-toggle {
            display: none;
            background: none;
            border: none;
            font-size: 32px;
            color: #f0f0f0;
            cursor: pointer;
        }

        .logo {
            height: 75px;
            max-width: 100%;
        }

        .nav-container {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            nav {
                display: flex;
                gap: 1.5rem;
                flex-wrap: wrap;
                align-items: center;

                a {
                    color: #f0f0f0;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 20px;
                    transition: color 0.3s;
                }

                a:hover {
                    color: #F4A261;
                }
            }

            .jogar {
                background-color: #F4A261;
                border: none;
                color: #f0f0f0;
                padding: 0.6rem 1.2rem;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .jogar:hover {
                background-color: #e58a3e;
            }
        }
    }

    .contato-section {
        padding: 4rem 2rem;
        max-width: 700px;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 2rem;
            font-size: 1.1rem;
        }

        .form-contato {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: left;

            label {
                font-weight: bold;
            }
            input,
            textarea {
                padding: 0.75rem;
                border-radius: 8px;
                border: 1px solid #ccc;
                font-size: 1rem;
            }
            button {
                background-color: #F4A261;
                color: white;
                padding: 0.75rem;
                border: none;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            .form-contato button:hover {
                background-color: #e58a3e;
            }
        }
    }
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #f0f0f0;
}


@media (max-width: 768px) {

    body,
    html {
        header {
            align-items: center;
            text-align: center;

            .menu-toggle {
                display: block;

            }

            .logo {
                justify-content: center;
            }

            .nav-container {
                flex-direction: column;
                align-items: center;
                width: 100%;
                display: none;

                nav {
                    flex-direction: column;
                    width: 100%;

                    .jogar {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }

            .nav-container.active {
                display: flex;
            }


        }
    }
}